# PostgreSQL local (ajustar user/pass/db si hace falta)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rentalo"
ADMIN_KEY=tu-clave-secreta-admin

WHATSAPP_NUMBER=5493851234567
CITY_DEFAULT=Frías
SITE_NAME=Alquileres Eventos Infantiles Frías
NEXT_PUBLIC_SITE_URL=https://tudominio.com
# NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
